@tailwind base;
@tailwind components;
@tailwind utilities;

.cardfill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 1rem;
}

.cardfill2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
}
